In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import pearsonr
from scipy.stats import chi2_contingency
from scipy.stats import mannwhitneyu
from scipy import stats

In [3]:
df_eda = pd.read_csv("dffinal.csv")
df_eda.head(2)

,make,model,version,fuel,year,kms,power,shift,price,location,publish_date,dealer_address,dealer_zip_code,lat,long,state,Car and Model,precio_categorias,kms_categoria,years_old
0,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,manual,22900,Pineda de Mar,2023-02-04,"2, Carrer de Jacint Benavente, Poblenou, Pined...",8397.0,41.627681,2.689871,Catalunya,Opel Crossland,Muy Alto,Muy Poco,3
1,Opel,Crossland,1.2 81kW (110CV) GS Line,Gasolina,2022,24847.0,110.0,manual,19990,Coslada,2023-01-20,"Avenida de José Gárate, Coslada, Área metropol...",28823.0,40.423802,-3.555288,Comunidad de Madrid,Opel Crossland,Muy Alto,Moderado,3

In [59]:
df_eda.drop(columns=["dealer_country_code","dealer_city"],inplace=True)
df_eda.head(5)

,make,model,version,fuel,year,kms,power,shift,price,location,publish_date,dealer_address,dealer_zip_code,lat,long,state
0,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,manual,22900,Pineda de Mar,2023-02-04,"2, Carrer de Jacint Benavente, Poblenou, Pined...",8397.0,41.627681,2.689871,Catalunya
1,Opel,Crossland,1.2 81kW (110CV) GS Line,Gasolina,2022,24847.0,110.0,manual,19990,Coslada,2023-01-20,"Avenida de José Gárate, Coslada, Área metropol...",28823.0,40.423802,-3.555288,Comunidad de Madrid
2,Opel,Crossland,1.5D 88kW (120CV) Business Elegance Auto,Diésel,2021,41356.0,120.0,automatic,18590,Madrid,2022-11-30,"San Cristóbal, Avenida de Andalucía, San Crist...",28021.0,40.416705,-3.703582,Comunidad de Madrid
3,Opel,Crossland,GS-Line 1.2 GAS MT6 S/S 110cv,Gasolina,2022,11.0,110.0,manual,22700,Sabadell,2022-11-29,"Parc de Bombers de Sabadell, 52, Carretera de ...",8200.0,41.542101,2.113898,Catalunya
4,Opel,Crossland,GS-Line 1.2 GAS MT6 S/S 110cv,Gasolina,2022,11.0,110.0,manual,22700,Mollet del Vallès,2022-11-29,"27, Carrer de Fèlix Ferran, Mollet del Vallès,...",8100.0,41.539348,2.213093,Catalunya

In [60]:
df_eda["Car and Model"] = df_eda["make"] + " " + df_eda["model"]
df_eda.head(2)

,make,model,version,fuel,year,kms,power,shift,price,location,publish_date,dealer_address,dealer_zip_code,lat,long,state,Car and Model
0,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,manual,22900,Pineda de Mar,2023-02-04,"2, Carrer de Jacint Benavente, Poblenou, Pined...",8397.0,41.627681,2.689871,Catalunya,Opel Crossland
1,Opel,Crossland,1.2 81kW (110CV) GS Line,Gasolina,2022,24847.0,110.0,manual,19990,Coslada,2023-01-20,"Avenida de José Gárate, Coslada, Área metropol...",28823.0,40.423802,-3.555288,Comunidad de Madrid,Opel Crossland

In [4]:
bins = [0, 7000, 20000, 50000, 80000, float('inf')]
labels = ["Bajo", "Moderado", "Alto", "Muy Alto", "Excesivo"]

df_eda["precio_categorias"] = pd.cut(df_eda["price"], bins=bins, labels=labels, right=True)

In [88]:
bins = [-1,5000,20000,50000,100000,200000,float("inf")]
labels = ["Muy Poco","Poco","Moderado","Medio Alto","Alto","Muy Alto"]
df_eda["kms_categoria"] = pd.cut(df_eda["kms"],bins=bins,labels=labels,right=True)

In [63]:
df_eda["years_old"] = 2025 - df_eda["year"]
df_eda.head(3)

,make,model,version,fuel,year,kms,power,shift,price,location,publish_date,dealer_address,dealer_zip_code,lat,long,state,Car and Model,precio_categorias,kms_categoria,years_old
0,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,manual,22900,Pineda de Mar,2023-02-04,"2, Carrer de Jacint Benavente, Poblenou, Pined...",8397.0,41.627681,2.689871,Catalunya,Opel Crossland,Muy Alto,Muy Poco,3
1,Opel,Crossland,1.2 81kW (110CV) GS Line,Gasolina,2022,24847.0,110.0,manual,19990,Coslada,2023-01-20,"Avenida de José Gárate, Coslada, Área metropol...",28823.0,40.423802,-3.555288,Comunidad de Madrid,Opel Crossland,Muy Alto,Moderado,3
2,Opel,Crossland,1.5D 88kW (120CV) Business Elegance Auto,Diésel,2021,41356.0,120.0,automatic,18590,Madrid,2022-11-30,"San Cristóbal, Avenida de Andalucía, San Crist...",28021.0,40.416705,-3.703582,Comunidad de Madrid,Opel Crossland,Muy Alto,Moderado,4

In [89]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40447 entries, 0 to 42354
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               40447 non-null  object
 1   model              40447 non-null  object
 2   version            40447 non-null  object
 3   fuel               40447 non-null  object
 4   year               40447 non-null  int64
 5   kms                40447 non-null  float64
 6   power              40447 non-null  float64
 7   shift              40447 non-null  object
 8   price              40447 non-null  int64
 9   location           40447 non-null  object
 10  publish_date       40447 non-null  object
 11  dealer_address     40447 non-null  object
 12  dealer_zip_code    40447 non-null  float64
 13  lat                40447 non-null  object
 14  long               40447 non-null  object
 15  state              40447 non-null  object
 16  Car and Model      40447 non-null  object
 17  precio_categorias  40447 non-null  category
 18  kms_categoria      40447 non-null  category
 19  years_old          40447 non-null  int64
dtypes: category(2), float64(3), int64(3), object(12)
memory usage: 5.9+ MB

In [65]:
locations = df_eda.loc[df_eda["state"]=="Unknown","location"].unique()
locations

array(['Málaga', 'Almería', 'Vigo', 'Colonia Pablo Iglesias', 'Bilbao',
       'Santiago de Compostela', 'Mercado Parque Corredor del Henares',
       'Ciudad Real', 'Hidraulica Santillana', 'Valdepeñas',
       'Urbanitzacio El Medol', 'Pamplona/Iruña', 'Torredonjimeno',
       'Atarrabia', 'Urbanizacion La Granjilla', 'Collado Villalba',
       'Torrejón de Ardoz', 'Barcelona', 'Gijón',
       'Poligono Industrial San Fernando', 'Coiros de Arriba',
       'Viladecans', 'Villanueva del Arzobispo', 'Poligono Da Louzaneta',
       'Balmaseda', 'Badalona', 'San Jose de La Rinconada', 'Artajona',
       'Murcia', 'Valencia', 'Las Parcelas',
       'Castello/Castellon de La Plana', 'Mérida', 'Monteagudo', 'Madrid',
       'Torrellano', 'Mercabilbao', 'Nava', 'Partida Altabix', 'Sevilla',
       'Ávila', 'Armentia', 'Torremolinos', 'Ciudad Deportiva del Jarama',
       'El Cuervo', 'La Hornera', 'Zaragoza',
       'La / Nucia-Hill Nucia Hills', 'Urbanizacion Beltraneja',
       'Córdoba', "El Moli d'en Rovira", 'Aizoain',
       'Santa Coloma de Gramenet', 'Gamarra Mayor', 'Villena', 'Linares',
       'Orkoien', 'Mula', 'Urbanizacion Calipo', 'Gamarra Menor',
       'Algeciras', 'Santa Maria del Aguila', 'Castellón',
       'Carretera Castro de Elviña', 'Poligono Industrial Madanela',
       'Vitoria-Gasteiz', 'Ibiricu de Egües',
       'Emisora Radio Elect Campillo', 'Tajonar/Taxoare',
       'Santa Perpètua de Mogoda', 'Cádiz', 'Alicante/Alacant', 'Santafe',
       'Toledo', 'Tudela', 'Sant Andreu de la Barca', 'Albacete', 'Mijas',
       'Badajoz', 'Alfafar', 'Aeropuerto de Noain',
       'Urbanitzacio Can Valls-To', 'Urbanizacion Las Bizarricas',
       'Cúllar Vega', 'Tamaraceite', 'Las Chafiras', 'Mollet del Vallès',
       'El Aeroport del Prat', 'Sax', 'Santa Pola', 'El Guincho', 'Parla',
       'Burgos', 'Alameda del Obispo', 'Armunia',
       'Carretera del Km. 17,500 Al 22,600 Madrid-Colmenar Viejo',
       'Alcobendas', 'Marbella', 'Orihuela', "L' Alcudia de Crespins",
       'Colonia Rocafiguera', 'Plataforma Logistica Plaza', 'Fuengirola',
       'Puebla de la Calzada', 'Cañada Hermosa', 'Fuenlabrada',
       'Donostia-San Sebastián', 'Camarma de Esteruelas', 'Saladar',
       'Santander', 'Barbastro', 'Oviedo', 'Granollers', 'Las Vegas',
       'Huelva', 'Las Rozas de Madrid', 'Girona',
       'Palau-Solita I Plegamans', 'Villaviciosa de Odón',
       'Palma de Mallorca', 'Tarragona', 'Ullastrell', 'Òrrius',
       'Sant Boi de Llobregat', 'Granada', 'Terrassa', 'La Zubia',
       'Leioa', 'Olèrdola', 'Cieza', 'Urbi', 'Caravaca de la Cruz',
       'Poligono Industrial Parque Industrial de Elche',
       'El Puerto de Santa María', 'Residencial Can Carner', 'Estepona',
       'Los Palacios y Villafranca', 'Varea', 'Santa Cruz Santa Cruz',
       'Cogullada', 'Ugarte', 'Sant Vicenç de Montalt', 'Los Yébenes',
       'Albatera'], dtype=object)

In [ ]:
#Vamos a utilizar la API de openstreetmap para conseguir las comunidades autonomas , la latitud y la longitud
import requests
import time

def conseguir_state_lan_long(location):
    try:
        time.sleep(1.2)
        url= f"https://nominatim.openstreetmap.org/search?format=json&q={location},Espa%C3%B1a"
        respuesta = requests.get(url,headers={"User-Agent":"Mozilla/5.0"})
        dato = respuesta.json()

        if dato:
            estado = dato[0].get("display_name","No existe").split(",")[-2].strip()
            latitud = dato[0].get("lat")
            longitud = dato[0].get("lon")
            return [location,latitud,longitud,estado]
        else:
            print("No es posible, algo falla en la respuesta")
    except:
        print(f"Error en {location}")

In [67]:
lista = []
for location in locations:
    lista.append(conseguir_state_lan_long(location=location))

No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta
No es posible, algo falla en la respuesta

In [69]:
for item in lista:
    if item is None:
        continue
    
    location = item[0]
    lat, lon, state = item[1], item[2], item[3]
    
    condition = (df_eda["location"] == location) & (df_eda["lat"].isna())
    df_eda.loc[condition, ["lat", "long", "state"]] = float(lat), float(lon), state

In [70]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42355 entries, 0 to 42354
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               42355 non-null  object
 1   model              42355 non-null  object
 2   version            42355 non-null  object
 3   fuel               42355 non-null  object
 4   year               42355 non-null  int64
 5   kms                42355 non-null  float64
 6   power              42355 non-null  float64
 7   shift              42355 non-null  object
 8   price              42355 non-null  int64
 9   location           42355 non-null  object
 10  publish_date       42355 non-null  object
 11  dealer_address     42355 non-null  object
 12  dealer_zip_code    42355 non-null  float64
 13  lat                40449 non-null  object
 14  long               40449 non-null  object
 15  state              42355 non-null  object
 16  Car and Model      42355 non-null  object
 17  precio_categorias  42353 non-null  category
 18  kms_categoria      42315 non-null  category
 19  years_old          42355 non-null  int64
dtypes: category(2), float64(3), int64(3), object(12)
memory usage: 5.9+ MB

In [73]:
#Vamos a quitar esas filas que no tienen, ya que no nos interesan tanto
df_eda = df_eda.loc[~((df_eda["lat"].isna()) & (df_eda["long"].isna()))]

In [90]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40447 entries, 0 to 42354
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               40447 non-null  object
 1   model              40447 non-null  object
 2   version            40447 non-null  object
 3   fuel               40447 non-null  object
 4   year               40447 non-null  int64
 5   kms                40447 non-null  float64
 6   power              40447 non-null  float64
 7   shift              40447 non-null  object
 8   price              40447 non-null  int64
 9   location           40447 non-null  object
 10  publish_date       40447 non-null  object
 11  dealer_address     40447 non-null  object
 12  dealer_zip_code    40447 non-null  float64
 13  lat                40447 non-null  object
 14  long               40447 non-null  object
 15  state              40447 non-null  object
 16  Car and Model      40447 non-null  object
 17  precio_categorias  40447 non-null  category
 18  kms_categoria      40447 non-null  category
 19  years_old          40447 non-null  int64
dtypes: category(2), float64(3), int64(3), object(12)
memory usage: 5.9+ MB

In [5]:
df_eda.to_csv("dffinal.csv",index=False)